<!DOCTYPE html>
<html>
  <head>
    <title>Demoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>
  </head>

  <body>
    <main class="">
      <%= yield %>
    </main>
  </body>
  <footer class="bg-white">
    <div class="mx-auto max-w-7xl px-6 py-12 lg:px-8">
      <div class="mt-8 md:mt-0">
        <p class="text-center text-xs leading-5 text-gray-500">© 2023 Generate Digital. All rights
          reserved.</p>
      </div>
    </div>
  </footer>
</html>
